@import "~styles/vars";

.hud {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 $cellSize;
  height: $hudHeight;
  background: $uiColor;

  &__itemGroup {
    display: flex;

    &:not(:last-of-type) { margin-right: 1em; }
  }

  &__item {
    &:not(:last-of-type) { margin-right: 1em; }

    &::before { margin-right: 0.5em; }

    &--time::before  { content: "⏳"; }
    &--tapes::before { content: "📼"; }
  }

  &__label {
    display: inline-block;
    margin-right: 0.5em;

    &::after { content: ":"; }
  }

  &__content {
    display: inline-block;
  }

  &__powerup {
    display: inline-block;

    &:not(#{&}--collected) { opacity: 0.2; }
  }

}
