@import "~styles/vars";

.game {
  position: absolute;
  top: calc(50% - #{$navbarHeight / 2});
  left: 50%;
  transform: translate(-50%, -50%);

  // Scale down on smaller screens in the simplest way possible.
  // TODO: Make the game much more responsive.
  $totalHeight: (
    600px +
    $hudHeight +
    (6 * 20) + // Rough height of text. See TODO above.
    $navbarHeight +
    10px
  );
  @media screen and (max-height: $totalHeight) {
    & { transform: translate(-50%, -50%) scale(0.8); }
  }

  &__instructions {
    font-size: 2.0rem;
    margin-top: 1em;
    // Interesting note here: the `line-height` must be `1em`
    // or another multiple that results in a number ending in
    // 0 in order for the tiles to render correctly. Non-0
    // numbers result in bands between tile rows. This appears
    // to result from `.game` being scaled down; scaling just
    // the camera or world etc works as expected—the text has
    // an effect on the alignment of child nodes of a sibling.
    line-height: 1em;
    text-align: justify;
  }
}
