@import '~styles/vars';

.entity {

  font: #{$cellSize}/#{$cellSize} "Apple Color Emoji";
  z-index: 1;

  &--tape::before       { content: "📼"; }
  &--door::before       { content: "🚪"; }
  &--person::before     { content: "🏃"; }
  &--chopper::before    { content: "🚁"; }
  &--bike::before       { content: "🚴"; }
  &--dancer::before     { content: "💃"; }
  &--invisible::before  { content: "  "; }
  &--ghost::before      { content: "👻"; }
  &--sunglasses::before { content: "👓"; }
  &--silverware::before { content: "🍴"; }
  &--speedboat::before  { content: "🚤"; }
  &--boots::before      { content: "👢"; }
  &--hammer::before     { content: "🔨"; }
  &--treeA::before      { content: "🌲"; }
  &--treeB::before      { content: "🎄"; }
  &--building::before   { content: "🏢"; }
  &--rabbit::before     { content: "🐇"; }
  &--chicken::before    { content: "🐣"; }
  &--fishA::before      { content: "🐟"; }
  &--fishB::before      { content: "🐠"; }
  &--turtle::before     { content: "🐢"; }
  &--camel::before      { content: "🐫"; }
  &--cloud::before      { content: "☁"; }
  &--creepsun::before   { content: "🌞"; }
  &--sun::before        { content: "☀"; }
  &--corn::before       { content: "🌽"; }
  &--wave::before       { content: "🌊"; }
  &--fire::before       { content: "🔥"; }
  &--snowman::before    { content: "⛄️"; }
  &--bee::before        { content: "🐝"; }
  &--gator::before      { content: "🐊"; }
  &--snake::before      { content: "🐍"; }
  &--carA::before       { content: "🚗"; }
  &--carB::before       { content: "🚙"; }
  &--taxi::before       { content: "🚕"; }
  &--firetruck::before  { content: "🚒"; }
  &--police::before     { content: "🚓"; }
  &--ambulance::before  { content: "🚑"; }

}
