@import '~styles/vars';

.ground {

  &--grass    { background-color: #76b55e; }
  &--path     { background-color: #d2a354; }
  &--water    { background-color: #68a4b7; }
  &--sand     { background-color: #efdfa7; }
  &--forest   { background-color: #536a3e; }
  &--sky      { background-color: #b8ecfe; }
  &--doorway  { background-color: #fef9b8; }
  &--snow     { background-color: #fffeed; }

  &--sidewalk {
    background-color: #d8d8d8;
    border: 1px solid #c6c6c6;
    border-left-color: #e1e1e1;
  }

  &--road     { background-color: #565656; }
  &--roadline {
    background-color: #565656;
    border-top: 3px dashed #eed800;
  }

}
